{% extends "base.html" %}{% block content %}
<html>
<head>
<title>Change Password</title>
<!-- Load JavaScript file -->
<script src={{ url_for('static', filename='js/changePassword.js') }}></script>
</head>
{% if error %}
<!-- Display error message if there is any -->
<script>
    window.onload = function() {
        alert("{{ error }}");
    }
</script>
{% endif %}
<!-- Heading -->
<h1 style="padding-left:400px; padding-top: 130px">Change password</h1>
<!-- Display message after password has been changed -->
<p style="padding-left: 500px">{{ msg }}</p>
<!-- Form to change password -->
<form action={{ url_for('main.changePassword') }} method="POST" onsubmit="return validate()">
	<p style="padding-left: 500px">Old Password: <input type="password" name="oldpassword"></p>
	<p style="padding-left: 500px">New Password: <input type="password" name="newpassword" id="newpassword"></p>
	<p style="padding-left: 500px">Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>
	<input style="border-radius:5px; background-color: rgb(255, 255, 255); margin-left: 500px" type="submit" value="Save">
</form>
<!-- Link to go back to user's profile -->
<a style="text-decoration: none; background-color: skyblue; color: black; padding-left: 10px; padding-right: 10px; border-radius: 5px; margin-left: 500px" href="/profile">Go to Profile</a>
</body>
</html>


{% endblock %} 
