{% extends "ebase.html" %}

{% block content %}

<h1>Cookies Policy</h1>
<h4>Sport Management Centre values your privacy and wants you to be aware of how cookies are used on our website. When you visit a website, little text files called cookies are downloaded to your computer or other device. They support us in improving your online experience and tailoring your visits to our site.&nbsp;<a title="Privacy" href="/privacy">Privacy Policy</a>.</h4>
<h3>What is a cookie?</h3>
<p>When you visit a website, little text files called cookies are downloaded to your computer, tablet, or smartphone. Websites may recognise your device and save data about your preferences or previous activities thanks to cookies. Cookies come in a variety of forms, such as session cookies and permanent cookies.</p>
<p>Temporary cookies known as session cookies are deleted when you exit your web browser. They enable us to keep track of your preferences or activities throughout a browsing session.</p>
<h3>How does Olympus Sports Centre use cookies?</h3>
<p>In order to personalise your visits to our website and remember your choices, we use cookies. Cookies help us gather data about how visitors use our website. This aids in our efforts to enhance and make our website more user-friendly.</p>
<h4>Strictly necessary cookies</h4>
<p>These cookies are necessary for our website to function. They enable us to offer you the features and services you have requested.</p>
<h4>Analytics cookies / Performance cookies</h4>
<p>We are able to gather data about how visitors use our website thanks to these cookies. This aids in our efforts to enhance and make our website more user-friendly.</p>
<h4>How can you control cookies?</h4>
<p>You can usually manage cookies using the settings of your computer browser. You have the option to accept or reject cookies and/or opt to be notified when a cookie is sent to your device. Please be aware that if you choose to disable cookies, you might not be able to use all of the features on our website.</p>
<h4>What cookies are used on this website?</h4>
<p>To find out what cookies are used on this website, please click the top navigation and select 'renew cookie consent'. Then select 'decline / manage cookies'. On the privacy controls screen you can expand each group of cookies to see which cookies are being used on this website and their purpose.</p>


<!-- Pure Gym. 2023. Privacy Policy. [online] Pure Gym Limited. [Accessed 2 May 2023]. Available from: https://www.puregym.com/privacy-policy/ -->
{% endblock content %}
