<table>
    <thead>
        <tr>
            <th>Position</th>
            <th>Facility</th>
            <th>Timetable</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Receptionist</td>
            <td>-</td>
            <td>Mon to Fri, 9am to 5pm</td>
        </tr>
        <tr>
            <td>Instructor</td>
            <td>Swimming Pool</td>
            <td>
                <ul>
                    <li>8am-2pm Mon to Thurs: Available</li>
                    <li>2pm-8pm Mon to Thurs: Available</li>
                    <li>8am-2pm Fri to Sun: Available</li>
                    <li>2pm-8pm Fri to Sun: Available</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Fitness Room/Sports Hall</td>
            <td>
                <ul>
                    <li>8am-4pm Mon to Thurs: Available</li>
                    <li>4pm-10pm Mon to Thurs: Available</li>
                    <li>8am-4pm Fri to Sun: Available</li>
                    <li>4pm-10pm Fri to Sun: Available</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Climbing Wall</td>
            <td>
                <ul>
                    <li>10am-3pm Mon to Thurs: Available</li>
                    <li>3pm-8pm Mon to Thurs: Available</li>
                    <li>10am-3pm Fri to Sun: Available</li>
                    <li>3pm-8pm Fri to Sun: Available</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Studio</td>
            <td>
                <ul>
                    <li>Mon 6-7pm: Available</li>
                    <li>Tues 10-11am: Available</li>
                    <li>Thur 7-8pm: Available</li>
                    <li>Fri 7-8pm: Available</li>
                    <li>Sat 10-11am: Available</li>
                    <li>Sun 9-10am: Available</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Cleaner</td>
            <td>-</td>
            <td>Mon to Fri, 9am to 5pm</td>
        </tr>
        <tr>
            <td>Life Guard</td>
            <td>-</td>
            <td>
                <ul>
                    <li>8am-2pm Mon to Thurs: Available</li>
                    <li>2pm-8pm Mon to Thurs: Available</li>
                    <li>8am-2pm Fri to Sun: Available</li>
                    <li>2pm-8pm Fri to Sun: Available</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
