<!--
   Navigation code separated from base.html file for readable code 
   First release by hanmoon 
-->
<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark navbar-expand-md navbar-expand-lg">
   <!-- Container wrapper -->
   <div class="container-fluid">
      <!-- Navbar brand-->
      {% if loggedIn %}
      <a class="navbar-brand" href="/employeehome"><font size="+5"><b><i>Olympus Sport Centre</i></b></font></a>
      {% else %}
      <a class="navbar-brand"><font size="+5"><b><i>Olympus Sports Centre</i></b></font></a>
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
         <span class="navbar-toggler-icon"></span> 
      </button>
      {% endif %}

         <!-- Navbar items -->
         <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
         <tr>
            <td style="line-height: 6px;">
               <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ms-auto">

               {% if not loggedIn %}

               <div class="dropdown">
                     <button class="dropbtn">Login</button>
                     <div id="myDropdown" class="dropdown-content">
                        <a href="{{ url_for('auth.loginForm') }}">User login</a>
                        <a href="{{ url_for('auth.mloginForm') }}">Manager login</a>
     
                     </div>
               </div>

               {% else %}
               <div class="dropdown">
                  <button onclick="myFunction()" class="dropbtn">Hello</button>
                  <div id="myDropdown" class="dropdown-content">
                     <a href="/eprofile">Personal Details</a>
                     <hr>
                     <a href="/logout">Sign Out</a>
                  </ul>
               </div>
            </div>
            {% endif %}
         </ul>
      </div>
   </div>
</nav>
</table>
</div>
</nav>



<!-- Search area -->
<nav class="navbar navbar-expand-md navbar-light">
   <div class="col-md-8 position-absolute top-50 start-50 translate-middle" >
      <form method="POST" action="{{ url_for('main.eSearch') }}">
         <div class="input-group">
            <input type="search" class="form-control rounded col-md-8 " placeholder="search item..." id="searchBox" type="text" name="searched" />
            <button style="border-radius: 5px; background-color: rgb(255, 255, 255)", id="searchButton" type="submit">Search</button>
          </div>
      </form>
   </div>
</nav>

<!-- Navigation menu -->
<nav class="navbar navbar-expand-md navbar-light">
   {% if loggedIn %}
   <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <!-- ==========================   Collapsible wrapper start =============================== -->
   <div class="collapse navbar-collapse justify-content-center" id="navbarNavDarkDropdown">
         <ul class="navbar-nav navbar-right">
                  <li class="nav-item p-2 flex-fill"><a class="nav-link px-3" href="/etimetable"><strong>Calendar</strong></a></li>
                  <li class="nav-item p-2 flex-fill"><a class="nav-link px-3" href="/epayslip"><strong>Payslip</strong></a></li>
                  <li class="nav-item p-2 flex-fill"><a class="nav-link px-3" href="/inbox"><strong>Inbox</strong></a></li>
                  
                  <li class="nav-item dropdown p-2 flex-fill">
                     <a class="nav-link dropdown-toggle px-3" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <strong>Booking</strong>
                     </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                     <li><a class="dropdown-item" href="/userlist">Users List</a></li>
                     <li><a class="dropdown-item" href="/inputuser">Allow Booking</a></li>
                  </ul>
                  <li class="nav-item p-2 flex-fill"><a class="nav-link px-3" href="/ehiring"><strong>Vacancies</strong></a></li>
                  <li class="nav-item p-2 flex-fill"><a class="nav-link px-3" href="/eqna"><strong>FAQ</strong></a></li>
                  <li class="nav-item p-2 flex-fill"><a class="nav-link px-3" href="/eaboutUs"><strong>About</strong></a></li>   
               </ul>
            </li>
         </ul>
      </div>
   </div>
   {% endif %}
<!-- ============================   Collapsible wrapper end ==================================== -->
</nav>
