{% extends "ebase.html" %}

{% block content %}

<h1>Privacy Policy</h1>
<h4>INTRODUCTION</h4>
<p>Our goal at Olympus Sports Centre is to preserve your privacy.</p>
<p>We gather and utilise personal information about you in order to deliver the services you need, run our company, execute our legal and contractual duties, safeguard the privacy of our users, and further our other legitimate purposes.</p>
<p>This privacy notice describes how we get, use, disclose, and safeguard your personal data. Any modifications to this Privacy Notice will be posted on our website as we make them.</p>
<p>Additionally, when you visit our website, we'll give you "just in time" notices as soon as data is being collected.</p>
<p>Please feel free to get in touch with us at Olympus Sports Centre or by email if you have any questions regarding this privacy notice.</p>
<h4>IDENTITY OF DATA CONTROLLER</h4>
<p>Olympus Sports Centre is registered with the Information Commissioner&rsquo;s Office (the &lsquo;ICO&rsquo;) as a data controller.</p>
<p>The independent regulatory body for data protection and information rights in the UK is called the Information Commissioner's Office (ICO). A hotline and complaints facility are offered by the ICO.</p>
<h4>WHEN DO WE COLLECT INFORMATION?</h4>
<p>Your personal data is gathered by us when you:</p>
<ul>
<li>Complete an Online Membership Agreement</li>
<li>Register your interest in sites that may soon open.</li>
<li>Contact us if you have any questions or concerns about a product or service, or to request additional information about it.</li>
<li>Participate in a contest, drawing for prizes, or survey.</li>
<li>Visit or browse our website. See our&nbsp;<a href="/cookie">Cookie Policy</a>.</li>
<li>You can reach our Member Services support staff via phone or email.</li>
<li>To access one of our gyms, enter your PIN number or swipe your fob.</li>
<li>You have an accident or an occurrence where you either witnessed it or were directly impacted.</li>
<li>When you utilise gym tools like the Hydro Massage machine or when you get a drink from a Yanga Water station.</li>
<li>When you book classes</li>
<li>CCTV &ndash; when you are using our gyms.&nbsp;</li>
<li>When you use the Website</li>
<li>When one of our teams takes pictures of you in a class, at an event, or at the gym (with your consent, of course)</li>
</ul>
<p>When using our gyms CCTV is being recorded 24 hours a day and actively monitored between 8am to 10pm by our internal CCTV team. CCTV is permanently erased after 31 days.</p>
<h4>YOUR PRIVACY RIGHTS</h4>
<p>Regarding the privacy of your personal information, you have the following rights: access, rectification, erasure (the "right to be forgotten"), restriction of processing, notification, data portability, objection, and the right to be exempt from automated profiling.</p>
<p><strong>Access</strong>.&nbsp; You have the right to get a copy of the information we currently have on file about you and to request that any errors be fixed. Please get in touch with us via email, using the website's contact page, or by writing to the address shown below. Typically, there is no charge for this service.</p>
<p><strong>Rectification</strong>.&nbsp; Please update your profile on the Olympus Sports Centre website in the members' section if you think we are holding false information about you or if your personal information changes.Changes to your bank, debit, and credit accounts can be made in the members-only section of the Olympus Sports Centre website.</p>
<p><strong>Erasure.&nbsp;</strong>When your data is no longer required for the purposes of your membership or when you withdraw your consent to our processing it (and there is no other legal basis for us to maintain your data), you have the right to have it erased.</p>
<p><strong>Restriction.&nbsp;</strong>You have the right to request that we limit how we can use your data in specific situations.</p>
<p><strong>Notification.&nbsp;</strong>You have the right to be informed of any updates, deletions, or limitations affecting your personal data.</p>
<p><strong>Portability.&nbsp;</strong>You have a right to get the electronic data we store about you in a format that enables simple transfer to another data controller.</p>
<p><strong>Object</strong>.&nbsp; You have the right to object when your personal information is being processed for direct marketing or profiling.</p>
<p><strong>Profiling</strong>.&nbsp; You have the right to object to any decision that is made using an automated procedure and your personal information.</p>
<h4>DO WE USE COOKIES?</h4>
<p>Cookies are tiny text files that your browser stores. These gather data on your usage of our websites, web-related products, and web services. We are unable to access the rest of your computer through the usage of cookies.</p>
<p>This in turn enables us to tailor our website to your requirements and interests. For the purpose of remembering you when you return to our website, we could keep a persistent cookie—a cookie that stays connected to your browser—that records your information.</p>
<p>You can choose to refuse cookies, or set your browser to let you know each time a website tries to set a cookie. You can&nbsp;<a title="Cookie" href="/cookie">find out more information about cookies</a>&nbsp;including information on how to turn them off.</p>
<p>Please note however that if you disable our cookies you may not be able to access certain services or facilities on our sites and your use of our sites may be restricted. This could include joining or logging in to your members area. See our&nbsp;<a href="/cookie">cookies policy.</a></p>

{% endblock content %}

<!-- PureGym. (n.d.). Privacy Policy. Retrieved from https://www.puregym.com/join/privacy-policy/
