{% extends "ebase.html" %}

{% block content %}

<head>
	<title>Olympus Sports Centre</title>
</head>
<style>
    p{
        text-align: center;
    }
    h2{
        text-align: center;
    }
</style>
<body>
    <h1 style="text-align:center"><strong>Instructor Working Time</strong></h1>

    <p>&nbsp;</p>

<h2><strong>Swimming Pool</strong></h2>

<p><strong>A1: 08:00 AM - 02:00 PM Monday to Thursday</strong></p>

<p><strong>A2: 02:00 PM - 08:00 PM Monday to Thursday</strong></p>

<p>&nbsp;</p>

<p><strong>B1: 08:00 AM - 02:00 PM Friday to Sunday</strong></p>

<p><strong>B2: 02:00 PM - 08:00 PM Friday to Sunday</strong></p>

<p>(*&nbsp;B1 is responsible for managing and supervising team events.)</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<h2><strong>Fitness Room</strong></h2>

<p><strong>C1: 08:00 AM - 04:00 PM Monday to Thursday</strong></p>

<p><strong>C2: 04:00 PM - 10:00 PM Monday to Thursday</strong></p>

<p>&nbsp;</p>

<p><strong>D1: 08:00 AM - 04:00 PM Friday to Sunday</strong></p>

<p><strong>D2: 04:00 PM - 10:00 PM Friday to Sunday</strong></p>


<p>&nbsp;</p>
<p>&nbsp;</p>

<h2><strong>Sports Hall</strong></h2>

<p><strong>E1: 08:00 AM - 04:00 PM Monday to Thursday</strong></p>

<p><strong>E2: 04:00 PM - 10:00 PM Monday to Thursday</strong></p>

<p>&nbsp;</p>

<p><strong>F1: 08:00 AM - 04:00 PM Friday to Sunday</strong></p>

<p>><strong>F2: 04:00 PM - 10:00 PM Friday to Sunday</strong></p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<h2><strong>Climbing Wall</strong></h2>

<p><strong>G1: 10:00 AM - 03:00 PM Monday to Thursday</strong></p>

<p><strong>G2: 03:00 PM - 08:00 PM Monday to Thursday</strong></p>

<p>&nbsp;</p>

<p><strong>H1: 10:00 AM - 03:00 PM Friday to Sunday</strong></p>

<p><strong>H2: 03:00 PM - 08:00 PM Friday to Sunday</strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h2><strong>Studio</strong></h2>

<p><strong>I1: Check the timetable</strong></p>
<p><a href="/inbox" class="btn btn-secondary btn-lg" role="button" style="display: inline-block; margin-top: 20px; text-decoration: none; color: white; background-color: #6c757d; padding: 10px 20px; border-radius: 5px; ">Go back</a>
 </p>  
</body>

{% endblock%}
