{% extends "ebase.html" %}

{% block content %}

<head>
	<title>Olympus Sports Centre</title>
</head>
<style>
    p{
        text-align: center;
    }
    h2{
        text-align: center;
    }
</style>
<body>
    <h1 style="text-align:center"><strong>Life guard Working Time</strong></h1>

    <p>&nbsp;</p>

<h2><strong>Swimming Pool</strong></h2>

<p><strong>J1: 08:00 AM - 02:00 PM Monday to Thursday</strong></p>

<p><strong>J2: 02:00 PM - 08:00 PM Monday to Thursday</strong></p>

<p>&nbsp;</p>

<p><strong>K1: 08:00 AM - 02:00 PM Friday to Sunday</strong></p>

<p><strong>K2: 02:00 PM - 08:00 PM Friday to Sunday</strong></p>

<p>(*&nbsp;K1 is responsible for managing and supervising team events with B1.)</p>
<p><a href="/inbox" class="btn btn-secondary btn-lg" role="button" style="display: inline-block; margin-top: 20px; text-decoration: none; color: white; background-color: #6c757d; padding: 10px 20px; border-radius: 5px; ">Go back</a>
</p>  
</body>

{% endblock%}
