

{% extends "mbase.html" %}{% block content %}
<html>
<head>
<title>Profile Home</title>
</head>

<center>
	<div class="display" style="padding-top: 120px">
	<div class="row justify-content-center">
		<div class="card w-25" title="Click to see code" 
		style=" background-color: rgb(98, 92, 92);">
			<div class="card-body">
				<a class="card-block stretched-link text-decoration-none" 
				href="/account/personaldetails/edit">
					<br>
					<h2 class="card-title text-white ">Edit Profile</h2>
					<br>
				</a>
			</div>
		</div>

		<div class="card w-25" title="Click to see code" 
		style=" background-color: rgb(98, 92, 92);">
				<div class="card-body">
					<a class="card-block stretched-link text-decoration-none"
					 href="/account/personaldetails/changePassword">
						<br>
						<h2 class="card-title text-white" >Change Password</h2>
						<br>
					</a>
				</div>
			</div>
		
		<!-- Force next columns to break to new line -->
		<div class="w-100"></div>

		<div class="card w-25" title="Click to see code" 
		style=" background-color: rgb(98, 92, 92);">
			<div class="card-body">
				<a class="card-block stretched-link text-decoration-none"
				href="/mqna">
					<br>
					<h2 class="card-title text-white">Q/A</h2>
					<br>
				</a>
			</div>
		</div>

		<div class="card w-25" title="Click to see code" 
		style="background-color: rgb(98, 92, 92);">
			<div class="card-body">
				<a class="card-block stretched-link text-decoration-none"
				href="/maboutUs">
					<br>
					<h2 class="card-title text-white">Contact Us</h2>
					<br>
				</a>
			</div>
		</div>


		<!-- Force next columns to break to new line -->
		<div class="w-100"></div>

		<div class="card w-25" title="Click to see code" 
		style=" background-color: rgb(98, 92, 92);">
			<div class="card-body">
				<a class="card-block stretched-link text-decoration-none"
				href="/mgetcookie">
					<br>
					<h2 class="card-title text-white">Manage cookies</h2>
					<br>
				</a>
			</div>
		</div>

		

	</div>
	<br><br><br>
	<a style="text-decoration: none; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); padding-right: 10px; padding-left: 10px; border-radius: 20px; margin: 100px; line-height: 30px" href="/">Go to Home</a>
</div>
</center>

<style>

	.card:hover {
			cursor:	help;

	}

	.card:hover .card-title {
			text-decoration: underline;
	}
</style>

</body>
</html>

{% endblock %} 




