% extends "ebase.html" %}

{% block content %}

<head>
	<title>Olympus Sports Centre</title>
</head>
<style>
    p{
        text-align: center;
    }
    h2{
        text-align: center;
    }
</style>
<body>
    <h1 style="text-align:center"><strong>Receptionist &amp; Cleaner Working Time</strong></h1>

<h2>&nbsp;</h2>

<h2>09:00 AM - 05:00 PM Monday to Friday</h2>
<p><a href="/inbox" class="btn btn-secondary btn-lg" role="button" style="display: inline-block; margin-top: 20px; text-decoration: none; color: white; background-color: #6c757d; padding: 10px 20px; border-radius: 5px; ">Go back</a>
</p>  
</body>

{% endblock%}
