

{% extends "ebase.html" %}

{% block content %}

<link rel="stylesheet" href={{ url_for('static', filename='css/table.css') }} />
    <h1>User List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Member Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                    <td>{{ user[5] }} {% if user[6] %}{{ user[6] }}{% endif %} {{ user[7] }}</td>
                    <td>{{ user[8] }}</td>
                    <td>{{ user[9] }}</td>
                    <td>{{ user[10] }}</td>
                    <td>{{ user[11] }}</td>
                    <td>{{ user[12] }}</td>
                    <td>{{ "Active" if user[13] else "Inactive" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
      
