{% extends "ebase.html" %}

{% block content %}
<!-- LInk to CSS file -->
<link rel="stylesheet" href={{url_for('static', filename='css/login.css')}} />
    <h1 class="h1title">Olympus Sport Centre</h1>
    <h2>Employee Login</h2>
    <div class="login">
        <!-- Display error message -->
        {% if error %}
        <script>
            alert("{{ error }}");
        </script>
        {% endif %}
        <!-- Employee login form-->
        <form action="/elogin" method="POST" class="form-signin">
            <label for="inputEmail" class="sr-only">Email:</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required
                   autofocus>
            <br />
            <label for="inputPassword" class="sr-only">Password:</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"
                   required>
            <br />
            <button href="/employeehome" class="btn btn-lg btn-primary btn-block" role="button" aria-pressed="true">Sign in</button>
        </form>
    </div>
    <div class="noaccount">
        <!-- Link to user login form-->
        <p c>Sign in as a User</p>
        <a href="/loginForm" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Go to User login</a>
    </div> 
    
    <!-- Link to home page -->
    <div class="back">
        <a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Go to home</a>
    </div>

{% endblock content %}
