h1 {
    margin: 0 auto;
    text-align: center;
  } 

h2 {
    margin: 0 auto;
    text-align: center;
  }  

.aboutus-details {
    text-align: center;
  }
p.contactdetails{
    text-align: center;
}
  
