h3{
    text-align: center;
}
h4{
    text-align: center;
}
.page-wrap{
    width: 60%;
    margin: auto;
}

.planks li{
    list-style-type: none;
    width: 50%;
    margin: auto;
}
.planks{
    display: flex;
    flex-wrap: wrap;
}
